<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Pond</string>
    <key>CFBundleIdentifier</key>
    <string>org.imperialviolet.pond</string>
    <key>CFBundleVersion</key>
    <string>0.1</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>Pond</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <!--<key>CFBundleIconFile</key>
    <string>pond.icns</string>-->
    <key>NSHumanReadableCopyright</key>
    <string>Copyright Pond developers 2013</string>
    <key>CFBundleGetInfoString</key>
    <string>Pond, © 2013 Pond developers</string>
    <key>CFBundleDisplayName</key>
    <string>Pond</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
